// Переменные
$font-family: 'PT Root UI', sans-serif;
$color-primary: #61eaa8;
$main-dark: #3EB57C;
$color-text: #333;
$color-border: #e0e0e0;
$color-background: #f8f9fa;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;
$breakpoint-large: 1440px;